@import "constants";

section.section__about {
  width: 100%;
  min-height: 400px;

  > article {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 4% 8% 6%;
    
    .section__title {
      color: $HEADER_RED;
      font-weight: 300;
      margin: 0;
    }

    .section__desc {
      line-height: 2.5;

      @media (max-width: 800px) {
        width: 85%;
        line-height: 1.5;
      }

      margin: 0;

      // i.e. fix
      max-width: 100%;
    }

    .separator {
      > span, &:before, &:after {
        border-color: $SEPARATOR_DARK;
      }
    }

  }
}
