@import "constants";

.separator {
  align-items: center;
  display: flex;
  width: 80%;
  margin: 30px 0;
  justify-content: space-around;

  > * {
    flex-shrink: 0;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: $SEPARATOR_DEFAULT_COLOR;
    //margin-left: 5%;
    //margin-right: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  &:before, &:after {
    content: " ";
    display: block;
    flex-basis: 50%;
    border-top: 1px solid $SEPARATOR_DEFAULT_COLOR;
  }
}
