@import "constants";

.section__cover {
  width: 100%;
  min-height: 400px;
  //height: 100vh;
  padding: 7% 0 16%;

  //background: radial-gradient($BACKGROUND_DARK, black);
  background: url(assets/bg.jpg);
  background-size: cover;

  > article {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 20%;
    height: 20%;
    margin: 0;
  }

  .section__cover__title {
    color: #fdebec;
    font-size: 88px;
    font-weight: 400;
    margin: 0 7%;
    text-align: center;
  }

  .separator {
    width: 75%;
  }

}


@media only screen and (max-width: 435px) {
  .section__cover {
    > article {
      .section__cover__title {
        font-size: 58px;
      }
    }
  }
}
