@import "constants";

.section__featured-concert {
  background: radial-gradient($BACKGROUND_DARK, black);
}

.featured-concert {
  height: 480px;

  &__cover {
    border: 1px solid #CBCBCB;
    border-left: none;
    border-right: none;
    color: white;
    //padding: 10px;
    padding: 5% 10px 0 10px;
    margin: 0 20px;

    h1 {
      font-size: 80px;
      margin: 0;
      text-align: center;
      font-weight: 500;

      @media (max-width: 600px) {
        font-size: 60px;
      }
    }

    > .featured__concert__date {
      display: flex;
      justify-content: space-between;
      margin-top: 6%;
      margin-bottom: 1.5%;
      font-size: 29px;
      font-family: 'bariolregular', sans-serif;
      font-style: italic;
    }
  }

  &__content {
    padding: $CONTENT_PADDING * 1.5;
    .separator span {
      width: $BIG_BUBBLE_SIZE;
      height: $BIG_BUBBLE_SIZE;
    }

    &__container {
      padding-bottom: $CONTENT_PADDING * 1.5;

      &__description {
        @media (min-width: 800px) {
          display: flex;
        }
        flex-direction: row;
        padding: 4% 1.5% 0 1.5%;
        margin-bottom: 10px;


        > div  {
          flex-basis: 50%;
          > div {

            &:first-of-type {
              > h1 {
                margin-top: 0;
              }
            }

            > h1 {
              margin-bottom: 0.3%;
              font-weight: 400;
            }

            > p {
              margin: 0;
            }
          }
        }
      }

      .featured-concert-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: auto;
        font-size: 14px;
        font-style: italic;
        min-height: 20px;
      }
    }
  }

}