@import "constants";

.section__footer {

  background: url(assets/bg-footer.png);
  background-size: cover;

  font-family: 'bariolregular', sans-serif;
  font-size: 14pt;

  padding: 35px 0 30px;

  position: relative;

  .footer__info__container {
    margin: auto;

    p {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  .logo-copyright {
    margin: 0;
    margin-left: auto;
    max-width: 241px;
    height: 51%;
    position: absolute;
    right: 13px;
    top: 32%;
  }
}