* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Oranienbaum', serif;
}

p {
  font-family: 'bariolregular', sans-serif;
  font-size: 16px;
}

.section {
  width: 100%;
  max-width: 100%;


  > * {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
  }

  &__title {
    font-size: 80px;
    text-align: center;
  }
}

.section__footer {
  text-align: center;
}