@import "../constants";

.section__artists {
  background: radial-gradient($BACKGROUND_DARK, black);

  > * {
    display: flex;
    flex-wrap: wrap;

    .artist {
      flex-basis: 50%;
      flex-grow: 1;
      width: 50%;
      min-width: 350px;
    }
  }

}
