&__content {
  z-index: 2;
  background: $ARTIST_LIGHT_BACKGROUND;
  visibility: hidden;
  opacity: 0;
  padding: $CONTENT_PADDING;


  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    height: 100%;
    padding: 5px $CONTENT_PADDING $CONTENT_PADDING;

    * {
      font-family: 'bariolregular', sans-serif;
    }

    h1 {
      font-size: 14px;
    }

    p, table, td {
      font-size: 12px;
    }

    &__inner {
      overflow-x: hidden;
      min-height: 100%;
      flex-direction: column;
      display: flex;
    }

    &__date-time {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 15px;
      font-style: italic;
      font-weight: 500;
      min-height: 20px;
    }

    &__title {
      text-transform: uppercase;
      text-align: center;
      //margin: 3% 0;
      margin: 3% 0 1% 0;

      &, *, p, div {
        font-size: 15px;
        font-weight: 600;
      }

      > p {
        margin: 0;
      }
    }

    &__description {
      padding: 0 6%;

      > .artist-concert-program-container {
        p {
          margin-bottom: 1%;
        }

        table {
          margin-bottom: 10px;

          tr td:first-of-type {
            padding-right: 5%;
            white-space: pre;
          }
        }
      }
    }

    .artist-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: auto;
      align-items: flex-end;
      min-height: 45px;

      .artist-footer-address {
        > p {
          margin: 0;
          font-size: 11px;
          white-space: pre;
        }
      }

      .artist-footer-price-social {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font-style: italic;

        > * {
          margin-left: 5px;
        }

        > span {
          font-size: 13px;
          white-space: pre;
        }

        .b-nordic-link {
          background: url(assets/b-nordic.png) no-repeat  center;
          width: 74px;
          height: 17px;
          background-size: contain;
          cursor: pointer;
        }

        .dublis-link {
          background: url(assets/dublis.png) no-repeat  center;
          width: 59px;
          height: 22px;
          background-size: contain;
          cursor: pointer;
        }

        .ticket-link {
          background: url(assets/bilietai-icon.png) no-repeat center;
          width: 64px;
          height: 16px;
          background-size: contain;
          cursor: pointer;
        }

        .fb-link {
          background: url(assets/fb-icon.png) no-repeat center;
          padding: 20px 0 0 20px;
          background-size: 125%;
          cursor: pointer;
        }

      }

    }
  }
}

&--active &__content {
  visibility: visible;
  opacity: 1;
}