&__cover {
  position: relative;
  z-index: 0;
  font-size: 0;

  header {
    position: absolute;
    top: $HEADER_MARGIN;
    left: $HEADER_MARGIN;
    right: $HEADER_MARGIN;

    z-index: 99;
    color: white;
    border: 1px solid #CBCBCB;
    border-left: none;
    border-right: none;
    padding: 10px;

    //
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      //font-size: 46px;
      font-size: 40px;
      margin: 0;
      font-weight: 500;
      text-align: center;

      margin-top: 4%;
    }

    .artist__date {
      display: flex;
      justify-content: space-between;
      font-family: 'bariolregular', sans-serif;
      font-size: 20px;
      font-style: italic;
    }

  }

  img {
    width: 100%;
  }
}
