&__hover {
  z-index: 1;
  background: $ARTIST_RED;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  padding: $CONTENT_PADDING * 1.5;

  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: $CONTENT_PADDING;
  }

  h2 {
    font-size: 25pt; //@Viliui: geriau naudoti px, dar geriau naudoti rem.
  }

  .separator {
    &, span, &:before, &:after {
      border-color: $SEPARATOR_DEFAULT_COLOR;
    }

    span {
      width: $BIG_BUBBLE_SIZE;
      height: $BIG_BUBBLE_SIZE;
    }
  }

}