@import "artists";
@import "constants";

.artist, .featured-concert {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @import "separator";
  @import "cover";
  @import "hover";
  @import "content";

  > *:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .3s all;

  }

}

// no idea why need to separate this...
.artist {
  &:hover:not(&--active) &__hover {
    visibility: visible;
    opacity: 1;
  }
}

.featured-concert {
  &:hover:not(&--active) &__hover {
    visibility: visible;
    opacity: 1;
  }
}



// CUSTOM

// @Viliui: remove this or put it below line 52.
.artist:last-of-type {
  .artist__cover {
    > header {
      > h1 {
        font-size: 37px;
      }
    }
  }
}


@media only screen and (max-width: 980px) {
  .artist {
    &:last-of-type {
      .artist__cover {
        > header {
          > h1 {
            font-size: 33px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .artist {
    &:last-of-type {
      .artist__cover {
        > header {
          > h1 {
            font-size: 27px;
          }
        }
      }
    }
  }
}


@media screen and (min-width:500px) and (max-width:716px) {
  .artist {
    &:last-of-type {
      .artist__cover {
        > header {
          > h1 {
            font-size: 37px;
          }
        }
      }
    }
  }
}


//716 500
