.separator {
  position: absolute;
  margin: 0 auto;

  &:before, &:after {
    border-color: $ARTIST_CONTENT_BORDER;
  }

  > span {
    margin-left: 2%;
    margin-right: 2%;
    width: $SMALL_BUBBLE_SIZE;
    height: $SMALL_BUBBLE_SIZE;
    border: 1px solid $ARTIST_CONTENT_BORDER;
  }

  &--top, &--bottom {
    left: $CONTENT_PADDING;
    right: $CONTENT_PADDING;
    width: auto;
  }

  &--top {
    top: 0;
    transform: translateY(-50%);
  }
  &--bottom {
    bottom: 0;
    transform: translateY(50%);
  }

  &--left, &--right {
    top: $CONTENT_PADDING * 3;
    bottom: $CONTENT_PADDING * 3;
    width: 0;
    margin: 0;
    border-left: 1px solid $ARTIST_CONTENT_BORDER;
    &:before, &:after {
      content: none;
    }
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
